body {
    margin: 0;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #fafafa;
}

.login-container {
    width: 300px;
    height: 200px;
    margin-top: 250px;
}

.form-login input {
    width: 100%;
    height: 33px;
    margin-bottom: 15px;
    border: 1px solid #585ad3;
    border-radius: 6px;
}

.form-login input:focus {
    /* border: 1px solid #fff; */
    box-shadow: 0 0 15px #585ad3;
    border: none;
    outline: none;
}

.button-sign {
    background-color: rgb(4, 134, 255);
    border: 1px solid transparent;
    border-radius: 6px;
    color: #ffffff;
    width: 300px;
    height: 33px;
    margin-bottom: 15px;
}

.button-sign:focus {
    box-shadow: 0 0 15px #585ad3;
    border: none;
    outline: none;
}